.about {
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
    padding: 0 3rem;
    width: 70%;
    background-color: $color-primary;
    border: 2px solid $color-secondary;
    border-radius: 5rem;
    transform: skewX(-20deg);
    &__title {
        transform: skewX(20deg);
        font-size: 4rem;
    }
    &__content {
        transform: skewX(20deg);
        line-height: 2;
    }
}