.header {
  height: 100vh;
  width: 100vw;
  position: relative;

  &__content {
    height: 75%;
    font-size: 4rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }
  &__author {
    border-bottom: 1px solid $color-black;
    animation: fadeInDown 1.5s 300ms ease-out;
    @include animate-fade;
  }
  &__profession {
    animation: fadeInUp 1.5s 1s ease-out;
    @include animate-fade;
  }
  &__typewriter {
    text-decoration: none;
    color: #000;
    border-right: 2px solid rgb(0, 0, 0);
    animation: blinkTextCursor 1000ms steps(50) infinite normal;
  }

  &__btn {
    animation: fadeIn 1s 2s ease-in;
    @include animate-fade;
  }
}