@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: .4;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 10rem;
  border: 0.2rem solid #222;
  border-radius: 2rem;
  padding: 1rem;
  transition: all 200ms ease-out; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 1.5rem #222; }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem #222; }

.btn-white {
  color: #222; }

.header {
  height: 100vh;
  width: 100vw;
  position: relative; }
  .header__content {
    height: 75%;
    font-size: 4rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; }
  .header__author {
    animation: fadeInDown 1.5s 300ms ease-out;
    opacity: 0;
    animation-fill-mode: forwards; }
  .header__profession {
    border-top: 1px solid #222;
    animation: fadeInUp 1.5s 1s ease-out;
    opacity: 0;
    animation-fill-mode: forwards; }
  .header__btn {
    animation: fadeIn 1s 2s ease-in;
    opacity: 0;
    animation-fill-mode: forwards; }
