body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  color: #7B4AFF;
  text-decoration: underline;
  transition: color 500ms linear;
}
/* Navigation */
.nav a,
.name h3,
.intro {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3E257F;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 5px solid #6F43E5;
  height: 80px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.divide {
  color: white;
  font-weight: bold;
  margin: 0 0.5rem;
}
/* Header */
.header {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  background-color: #5D38BF;
  margin-top: 5.5rem;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Inknut Antiqua", serif;
}
/* Quote */
.quote {
  border: 2px solid black;
  border-radius: 5px;
  padding: .75rem;
  text-align: center;
  font-size: 1.5rem;
}
/* Projects */
.projects h2 {
  background-color: #3E257F;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Inknut Antiqua", serif;
  text-decoration: underline;
  margin: 3rem 0;
}
figure {
  background-color: lightgray;
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 15px;
  width: 30%;
  height: auto;
}
.example {
  display: flex;
  justify-content: space-around;
}
.website {
  width: 100%;
}
/* About Me */
.about-me {
  text-align: justify;
  font-size: 1.25rem;
  width: 70%;
  margin: 3rem auto;
  line-height: 1.5;
}
.skills {
  text-decoration: underline;
}
.author {
  text-decoration: none;
  font-style: italic;
}
/* Footer */
footer {
  background-color: #3E257F;
  padding: 1.5rem 0;
}
footer h4 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
.selfie {
  width: 9rem;
  height: auto;
  border-radius: 50%;
  margin: 0 1rem;
  border: 5px solid #6F43E5;
}


@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .header {
      justify-content: center;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 651px) {
  /* Navigation */
  .mobile {
    display: none;
  }
  .navigation {
    justify-content: space-around;
  }
  .name h3 {
    display: none;
  }

  /* Header */
  .header {
    justify-content: flex-start;
  }
  .intro {
    margin-top: 11rem;
    margin-left: 2.5rem;
    font-size: 1.75rem;
  }
  .quote {
    font-size: 1.25rem;
  }
  /* Projects */
  .example {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 650px) and (min-width: 476px){
  .mobile,
  .name h3 {
    display: none;
  }
  /* Navigation */
  .navigation {
    justify-content: space-around;
  }
  /* Header */
  .header {
    height: 17rem;
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
  }
  .intro {
    text-align: center;
    padding: 0.5rem;
    width: 85%;
  }
  .intro h2 {
    font-size: 1.5rem;
  }
 /* Quote */
 .quote {
   margin-top: 3rem;
   font-size: 1.1rem;
   padding: .25rem 0;
 }
 /* Projects */
 figure {
   width: 60%;
 }
 .example {
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
 }
 .projects h2 {
   font-size: 2rem;
 }
 /* About Me */
 .about-me {
   font-size: 1.2rem;
 }
}
@media only screen and (max-width: 475px) {
  svg,
  .name h3 {
    display: none;
  }
  /* Navigation */
  .navigation {
    justify-content: center;
    height: 60px;
  }
  /* Header */
  .header {
    height: 17rem;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
  }
  .intro {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
  }
  .intro h2 {
    font-size: 1.2rem;
  }
 /* Quote */
 .quote {
   margin-top: 3rem;
   font-size: 1.1rem;
   padding: .25rem 0;
 }
 /* Projects */
 figure {
   width: 75%;
 }
 .example {
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
 }
 .projects h2 {
   font-size: 1.5rem;
 }
 /* About Me */
 .about-me {
   font-size: 1rem;
 }
 /* Footer */
 .selfie {
   width: 7rem;
 }
 footer {
   padding: .2rem auto;
 }
 footer h4 {
   font-size: 1.1rem;
 }
 .footer {
   font-size: 1rem;
 }


}
