body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  /* Navigation */
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66d9ff;
    Padding: 1rem 0;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .desktop {
    display: none;
  }
  .logo {
    padding-left: 2rem;
  }
  .mobile {
    padding-right: 2rem;
    color: Black;
    text-decoration: none;
    border
  }
  /* Header */
  .selfie {
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
  }

}
