.grid {
  width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.typeName {
  font-size: 4rem;
  grid-area: 2 / 2 / 2 / 4;
}

.flipCard {
  grid-area: 3 / 2 / 3 / 4;
}