*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html:global {
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  height: 100%;
}

body:global {
  box-sizing: border-box;
  height: 100%;
}