.card {
  background-color: #C8C8C8;
  overflow: hidden;
}

.profile {
  width: 100%;
}

.large {
  composes: card;
  min-width: 20rem;
  max-width: 30rem;
  border-radius: 2rem;
  box-shadow: 0 1.7rem 4rem rgba(0, 0, 0, 1);
}

.small {
  composes: card;
  max-width: 7rem;
  border-radius: 10rem;
}